<!-- Full-width Toolbar at the Top -->
<mat-toolbar class="header">
  <div class="header-icons">
    
    <button mat-icon-button matTooltip="Main menu" matTooltipPosition="below"  (click)="toggleSidenav()" aria-label="Toggle sidenav">
      <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
    </button>

    <img *ngIf="currentTitle === 'FunDoo'" src="assets/images/keep.png" alt="logo" class="logo" />
    <!-- <img src="assets/images/keep.png" alt="logo" class="logo" /> -->
    <span class="title">{{ currentTitle }}</span>

    <!-- <span class="title">FunDoo</span>  -->

    <span class="spacer"></span>

    <!-- Search Bar -->
    <div class="search-container">

      <button mat-icon-button aria-label="Search">
        <mat-icon fontSet="material-icons-outlined">search</mat-icon>
      </button>
      
      <input type="text" placeholder="Search" class="search-input" />
    </div>

    <div class="sub-icons">

      <div class="sub-icons-one">

        <!-- <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" matTooltipPosition="below" 
                      (click)="refreshNotes()"  [class.spin]="isRefreshing">
          <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
        </button> -->

        <button mat-icon-button aria-label="Refresh" matTooltip="Refresh" matTooltipPosition="below"
                          (click)="triggerRefreshAnimation()">
            <mat-icon fontSet="material-icons-outlined" [class.spin]="isSpinning"
  >
                  {{ currentRefreshIcon }}</mat-icon>
        </button>

        <button mat-icon-button aria-label="view_agenda" matTooltip="List View" matTooltipPosition="below">
          <mat-icon fontSet="material-icons-outlined">view_agenda</mat-icon>
        </button>

        <button mat-icon-button aria-label="Settings" matTooltip="Setting" matTooltipPosition="below">
          <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
        </button>
      </div>

      <div class="sub-icons-two">
        <button mat-icon-button aria-label="Apps"matTooltip="Google Apps" matTooltipPosition="below">
          <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
        </button>
        <button [matMenuTriggerFor]="accountMenu" mat-icon-button aria-label="Profile" matTooltip="My Profile" matTooltipPosition="below">
          <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-menu #accountMenu="matMenu">    
  <button mat-menu-item class="logout-btn" (click)="logout()">
    <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<!-- Sidenav and Content Area BELOW toolbar -->
<mat-sidenav-container class="dashboard">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenav" [class.collapsed]="!isSidenavExpanded">
    
    <mat-nav-list class="sidenav-list">

      <button mat-list-item [ngClass]= "{ 'active': activeItem === 'Notes'}" (click)="setActive('Notes')"  >
        <mat-icon fontSet="material-icons-outlined">lightbulb</mat-icon>
        <span class="sidenav-label" *ngIf="isSidenavExpanded">Notes</span>
      </button>
      
      <button mat-list-item [ngClass]="{ 'active': activeItem === 'Reminders' }" >
        <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
        <span class="sidenav-label" *ngIf="isSidenavExpanded">Reminders</span>
      </button>
      
      <button mat-list-item [ngClass]="{ 'active': activeItem === 'Labels' }">
        <mat-icon fontSet="material-icons-outlined">label</mat-icon>
        <span class="sidenav-label" *ngIf="isSidenavExpanded">Labels</span>
      </button>
      
                            <!-- navigate to archive  -->
      <button mat-list-item [ngClass]="{ 'active': activeItem === 'Archive'}" (click)="setActive('Archive')">
        <mat-icon fontSet="material-icons-outlined">archive</mat-icon>
        <span class="sidenav-label" *ngIf="isSidenavExpanded">Archive</span>
      </button>
      
      <button mat-list-item [ngClass] ="{ 'active': activeItem === 'Trash' }" (click)="setActive('Trash')">
        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
        <span class="sidenav-label" *ngIf="isSidenavExpanded">Trash</span>
      </button>
    
    </mat-nav-list>
  </mat-sidenav>



  <mat-sidenav-content>
    <app-all-notes 
        [showArchived]="showArchived" 
        [showTrashed] ="showTrashed"></app-all-notes>
     <!-- <router-outlet></router-outlet>  -->
  </mat-sidenav-content>

  
