.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}

.note-tile {
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }
}

.tile-header,
.tile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.tile-body {
  margin: 5px 0;
}

.tile-body p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.icon-button {
  font-size: 18px;
  width: 35px;
  height: 35px;

  mat-icon {
    font-size: 20px;
    color: gray;
  }
}

// .color-picker {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 6px;
//   margin-top: 8px;
// }

.color-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
    border-color: #888;
  }
}




.tile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Add this */
}

.color-picker {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 6px 8px;

  position: absolute;
  bottom: 28px;
  left: 43%; /* Adjust here */
  transform: translateX(-43%); /* Match transform to same value */

  background: #fff;
  border: 1px solid #211717;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  overflow-x: auto;
}



.custom-menu .menu-content {
  padding: 0; /* Remove extra padding */
  min-width: 130px; /* Optional: Adjust width */
}

.custom-menu .mat-menu-item {
  min-height: 20px; /* Reduce item height even more */
  font-size: 8px;  /* Small font */
  padding: 2px 10px; /* Less padding vertically */
  line-height: 0.8; /* Tight line height */
}

.custom-menu .mat-menu-item mat-icon {
  font-size: 8px; /* Smaller icon size */
  margin-right: 5px;
}
