
<div class="grid-container" [ngClass]="{ 'list-view': isListView }">
    
  <div class="note-tile" *ngFor="let note of allNotes" (click)="openNoteForEdit(note , $event)"
                         [ngStyle]="{ 'background-color': note.color || '#ffffff' }">
    <!-- <div class="note-tile" *ngFor="let note of notes"  [ngStyle]="{ 'background-color': note.color || '#ffffff' }"> -->


      <button class="check-icon icon-button">
        <mat-icon fontSet="material-icons" class="check-symbol">done</mat-icon>
      </button>  
      
      <div class="tile-header">
        <h3>{{ note.title }}</h3>
        <button mat-icon-button class="icon-button pin-button"matTooltip="Pin Note" matTooltipPosition="below"(click)="onPinNote(note, $event)">
          <mat-icon fontSet="material-icons-outlined">push_pin</mat-icon>
        </button>
      </div>
  
      
      <div class="tile-body">
        <p>{{ note.description }}</p>
      </div>
  
      <div *ngIf="isReminderValid(note.reminder)" class="reminder-chip">
        <mat-icon class="watch-icon">watch_later</mat-icon>
        {{ note.reminder | date:'short' }}
      </div>

      
      <div class="tile-footer">
         <!-- only when note.isTrash is true -->
        <ng-container *ngIf="note.isTrash">
           <div class="trash-actions">
         
          <button mat-icon-button class="icon-button" (click)="OnDeleteNote(note , $event)" matTooltip="Delete Forever" matTooltipPosition="below">
            <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
          </button>
         
          <button mat-icon-button class="icon-button" (click)="OnRestore(note, $event)" matTooltip="Restore" matTooltipPosition="below">
            <mat-icon fontSet="material-icons-outlined">restore</mat-icon>
          </button>
        </div>
        </ng-container>
        

         <!-- only when note.isTrash is false -->
        <ng-container *ngIf="!note.isTrash">
        <button mat-icon-button class="icon-button"  matTooltip="Background Options" matTooltipPosition="below" (click)="toggleColorPicker(note, $event)">
          <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
        </button>
        <button mat-icon-button class="icon-button"  matTooltip="Remind Me" matTooltipPosition="below" (click)="setReminder(note, $event)">
          <mat-icon fontSet="material-icons-outlined">notifications_none</mat-icon>
        </button>

        <button mat-icon-button class="icon-button" matTooltip="Collaborator" matTooltipPosition="below" (click)="openCollaboratorDialog(note, $event)">
          <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
        </button>

        <button mat-icon-button class="icon-button" matTooltip="Add Image" matTooltipPosition="below">
          <mat-icon fontSet="material-icons-outlined">image</mat-icon>
        </button>

        <button mat-icon-button class="icon-button" [matTooltip]="note.isArchive ? 'Unarchive' : 'Archive'" matTooltipPosition="below" 
                          (click)="onArchiveNote(note,$event)" >
          <mat-icon fontSet="material-icons-outlined" >
            {{ note.isArchive ? 'unarchive' : 'archive' }}</mat-icon>
        </button>
     </ng-container>

     <ng-container *ngIf="!note.isTrash">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-button" matTooltip="More" matTooltipPosition="below" (click)="onMoreClicked($event)">
          <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
        </button>
      </ng-container>
        
        
        <mat-menu #menu="matMenu" class="custom-menu">
          <div class="menu-content">
            
            <button mat-menu-item (click)="OnTrashNote(note , $event)">
              <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
              <span>Delete Note</span>
            </button>
        
            <button mat-menu-item (click)="openLabelDialog(note , $event)">
              <mat-icon fontSet="material-icons-outlined">label</mat-icon><span>Add Label</span>
            </button>
        
            <!-- <button mat-menu-item>
              <mat-icon fontSet="material-icons-outlined">draw</mat-icon><span>Add Drawing</span>
            </button> -->
        
            <!-- <button mat-menu-item>
              <mat-icon fontSet="material-icons-outlined">content_copy</mat-icon><span>Make a Copy</span>
            </button> -->
        
            <!-- <button mat-menu-item>
              <mat-icon fontSet="material-icons-outlined">check_box</mat-icon><span>Show Checkboxes</span>
            </button> -->
        
            <!-- <button mat-menu-item>
              <mat-icon fontSet="material-icons-outlined">cloud_upload</mat-icon><span>Copy to Google Docs</span>
            </button> -->
        
            <!-- <button mat-menu-item>
              <mat-icon fontSet="material-icons-outlined">history</mat-icon><span>Version History</span>
            </button> -->
          </div>
        </mat-menu>
        
        
        
        <!-- Color picker -->
        <div *ngIf="note.showColorPicker" class="color-picker">
          <div
            class="color-circle"
            *ngFor="let color of colors"
            [ngStyle]="{ 'background-color': color }"
            (click)="selectColor(note, color , $event)">
          </div>
        </div>
      </div>

      <!-- <div class="collaborators" *ngIf="note.collaborators && note.collaborators.length > 0">
        <button *ngFor="let collaborator of note.collaborators"
                mat-icon-button
                [matTooltip]="collaborator.email"
                matTooltipPosition="above"
                class="collab-icon">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div> -->
        <!--Label chips go here (inside the note-tile) -->
        <div class="label-chips" *ngIf="note.labels && note.labels.length > 0">
          <span *ngFor="let label of note.labels" class="label-badge">
            {{ label.labelName }}
          </span>
        </div>
      
  
    
    </div>


    
  </div>
  