
<div class="page-container">

<form [formGroup]="login" (ngSubmit)="onSubmit()" action="" method="post" class="form">

   <div class="left-section" > 
    <img src="assets\images\googlelogo.png" alt="Google logo" class="logo">
    <h1 class="form-title">Sign in</h1>
  </div> 


  <div class="right-section">
     <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label> Email </mat-label>
      <input matInput  formControlName = "email" type="text" required>
      
      <mat-error *ngIf="f['email'].touched && f['email'].errors?.['required']"> 
          Email is required</mat-error> 
    </mat-form-field><br>

  <!-- Password -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName = "password" type="text" required>
    <mat-error *ngIf="f['password'].touched && f['password'].errors?.['required']"> 
        please enter password </mat-error> 
  </mat-form-field><br>    
  
  <div class="button-row">
    <button type="button" class="create-account-btn" (click)="goToRegister()">Create Google Account</button>
    <button type="submit" class="login-btn">Login</button>
  </div>

  
  </div>
</form>
</div>