.form{
    width: 400;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    
    }
    
    .logo {
        width: 80px; // You can adjust this size (e.g., 60px, 100px, etc.)
        height: auto;
        display: block;
        margin-bottom: 10px;
      }