<div class="add-note">
    <div class="add-note-card" (click)="expandNote()" *ngIf="!isExpanded">
      <input placeholder="Take a note..." readonly />
    </div>
  
    <div class="add-note-expanded-wrapper" *ngIf="isExpanded">
      <!-- Note Form -->
      <form 
        class="add-note-expanded" 
        [formGroup]="noteForm" 
        (ngSubmit)="onSubmit()"
        [ngStyle]="{ 'background-color': selectedColor }"
      >
        <div class="title-pin-container">
          <input type="text" formControlName="title" placeholder="Title" />
          <button mat-icon-button class="pin-button" (click)="togglePin($event)" aria-label="Pin note">
            <mat-icon fontSet="material-icons-outlined">push_pin</mat-icon>
          </button>
        </div>
  
        <textarea rows="3" placeholder="Take a note..." formControlName="description"></textarea>
  
        <div class="add-note-actions">
          <div class="left-icons">
            <button mat-icon-button (click)="toggleColorPalette()">
              <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined">notifications_none</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined">image</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined">archive</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
            </button>
          </div>
          <button mat-button type="button" (click)="closeNote()">Close</button>
        </div>
      </form>
  
      <!-- Color Palette (Inside Wrapper to align below) -->
      <div class="color-palette" *ngIf="showColorPalette">
        <div *ngFor="let color of colors" class="color-circle"
          [ngStyle]="{ 'background-color': color }"
          (click)="selectColor(color)">
        </div>
      </div>
    </div>
  </div>
  