
<form action="" method="post" class="form">
    <div class = "left-side">
        <img src="assets\images\googlelogo.png" alt="Google logo" class="logo">
        <h1 class="form-title">Create a Google Account</h1>
    </div>
    

    <div class = "right-side">
        
        <input type="text" placeholder="First name" class="input-field"> <br>
        <input type="text" placeholder="Last name (optional)" class="input-field"><br>
        <input type="date" placeholder="Date Of Birth" class="input-field"><br>

        <!--<input type="list" placeholder="Gender" ><br>  -->
    <label for = "gender"></label> 
        <select name="gender" class="input-field" >
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="not_say">Rather not say</option>
            <option value="custom">Custom</option>
        </select><br>

        <input type="email" placeholder="Email" class="input-field"><br>
        <input type="password" placeholder="Password" class="input-field"><br>
        <input type="password" placeholder="Confirm Password" class="input-field"><br>
        <input type="submit" value="Register" class="submit-btn"><br>
    </div>
</form>






<!-- using Div 
<div class="register-container">
    <div class="left-section">
        <img src="https://ssl.gstatic.com/accounts/ui/logo_2x.png" alt="Google logo" class="logo">
        <h2> Create a Google Account</h2>    
        
    </div>

</div>


<form class="right-section">
    <div class="form-group">
        <input type="text" placeholder="First name" class="input-field"> <br><br>
        <input type="text" placeholder="Last name (optional)" class="input-field"><br><br>
    </div>

    <div class="form-group full-width">
        <input type="date" placeholder="Date of Birth">
    </div>


        <div class ="form-group full-width">
            <select>
                <option value="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="not_say">Rather not say</option>
                <option value="custom">Custom</option>
            </select>
        </div>


        <div class="form-group full-width">
            <input type="email" placeholder="Email">
        </div>


        <div class="form-gr
        oup full-width">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
        </div>

        <button type="submit" class="Register"></button>
</form>


-->


<!-- FirstName , LastName , DOB , genedr ,Email ,Password , ConfirmPassword-->